* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f4f4f4;
    color: #333;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 8%;
    background: #fff;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    position: sticky;
    top: 0;
}

header .logo {
    font-size: 24px;
    font-weight: bold;
}

nav a {
    margin-left: 20px;
    text-decoration: none;
    color: #333;
    font-weight: 600;
}
nav a:hover {
    color: black;
}

/* Hero Section */
.hero {
    text-align: center;
    padding: 100px 20px;
    background: #FF6500;
    color: #fff;
}
.hero span {
    color: #CC561E;
}
.hero .btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background: #fff;
    color: #F6CE71;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}
.hero .btn:hover {
    background: #F6CE71;
}

/* About */
.about, .skills, .projects, .contact {
    padding: 60px 8%;
    background: #fff;
    margin-top: 20px;
    border-radius: 10px;
}

/* Skills */
.skills ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin-top: 15px;
}
.skills li {
    background: #FF6500;
    color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
}

/* Projects */
.project-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 20px;
}
.project-card {
    background: #f1f1f1;
    padding: 20px;
    border-radius: 10px;
    transition: 0.3s;
}
.project-card:hover {
    background: #FF6500;
    color: #fff;
    transform: translateY(-10px);
}

/* Contact Form */
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
input, textarea {
    padding: 10px;
    border: 1px solid #aaa;
    border-radius: 5px;
}
button {
    padding: 10px;
    border: none;
    background: #FF6500;
    color: #fff;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
button:hover {
    background: #FF6500;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background: #fff;
    margin-top: 30px;
}

